@model webApplication.Models.CarDetails

@{
    ViewData["Title"] = "RegisterACarPage";
}

<div class="register-a-car-section">
    <div class="register-a-car-container">
        <h2>Register your car in just a few steps</h2>
        <form class="register-a-car-form" asp-controller="CarRegister" asp-action="RegisterACarPage" method="post">
            <input asp-for="Make" type="text" placeholder="Car Company" required>
            <input asp-for="Model" type="text" placeholder="Car Name" required>
            <input asp-for="OwnerAddress" type="text" placeholder="Address" required>
            <div class="sharing-days">
                <label>Sharing Days</label>
                <br />
                <input asp-for="MinimumRentalPeriod" type="number" placeholder="30">
            </div>
            <div class="earnings-info">
                <p>Potential Monthly Earnings</p>
                <p>₹15000 - ₹18000</p>
            </div>
            <button type="submit" class="register-a-car-btn">Register</button>
        </form>
    </div>
    <div class="acha-rentz-promo">
        <img class="register-a-car-page-logo" src="~/images/acha-rentz-logo-white.png" alt="AchaRentzLogo" />
        <p>____________________________________________________________</p>
        <h3>Rentals Made Super Easy</h3>
        <p>____________________________________________________________</p>
        <img class="regiscar-page-sports-car-logo" src="~/images/sport-car.png" alt="Car">
    </div>
</div>

