@model webApplication.Models.RentalDetails;

<div class="super-form-to-div-layout">
    <div class="from-to-div-layout">
        <h4>From</h4>
        <input asp-for="FromDateTime" type="datetime-local" placeholder="Select Date and Time" required>
    </div>
    <div class="from-to-div-layout">
        <h4>To</h4>
        <input asp-for="ToDateTime" type="datetime-local" placeholder="Select Date and Time" required>
    </div>
</div>

<style>
    .super-form-to-div-layout{
        display:flex;
        flex-direction:column;
        background: #0EAB20;
        padding-bottom:3vw;
        border-radius:5px;
        color:white;
    }
    input{
        width:18vw;
    }

    .from-to-div-layout input{
        height:5vh;
        width:13vw;
        border-radius:3px;
        border:0;
    }
</style>