
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header>
    <div class="logo">
        <a asp-controller="Home" asp-action="HomePage"><img src="~/images/acha-rentz-logo-black.png" /></a>
    </div>
    <nav>
        <ul>
            <li><a asp-controller="CarListing" asp-action="CarsListingPagePremium">Rent a Car</a></li>
            <li><a asp-controller="SignIn" asp-action="LoginPage">Register a Car</a></li>
        </ul>
    </nav>
    <div class="auth-links">
        <a asp-controller="SignIn" asp-action="LoginPage">Login</a>
    </div>
</header>
