@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header>
    <div class="logo">
        <a asp-controller="Home" asp-action="HomePage"><img src="~/images/acha-rentz-logo-black.png" /></a>
    </div>
    <nav>
        <ul>
            <li><a asp-controller="CarListing" asp-action="CarsListingPage">Rent a Car</a></li>
            <li><a asp-controller="CarRegister" asp-action="RegisterACarPage">Register a Car</a></li>
            <li><a asp-controller="Subscription" asp-action="Subscribe">Go Premium</a></li>
        </ul>
    </nav>
    <div class="auth-links">
        <img src="" alt="ProfilePic"/>
        <a asp-controller="SignIn" asp-action="SignOut">Logout</a>
    </div>
</header>
