@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ACHA Rentz</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
    {
        <!-- User is authenticated -->
        @await Html.PartialAsync("_HeaderAfterLogin")
    }
    else
    {
        <!-- User is not authenticated -->
        @await Html.PartialAsync("_HeaderBeforeLogin")
    }

    <!-- Main Content -->
    <main role="main" class="container">
        @RenderBody()
    </main>

    <!-- Include Footer -->
    @await Html.PartialAsync("_Footer")

    <script src="~/js/site.js"></script>
</body>
</html>
