@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ACHA Rentz</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/TestPage.css" />
    <link rel="stylesheet" href="~/css/CarBookingPage.css" />
    <link rel="stylesheet" href="~/css/CarDetailsPage.css" />
    <link rel="stylesheet" href="~/css/CarsListingPage.css" />
    <link rel="stylesheet" href="~/css/CarTileComponentStyles.css" />
    <link rel="stylesheet" href="~/css/Checkout.css" />
    <link rel="stylesheet" href="~/css/Header.css" />
    <link rel="stylesheet" href="~/css/HomePage.css" />
    <link rel="stylesheet" href="~/css/RegisterACarPage.css" />
    <link rel="stylesheet" href="~/css/RegistrationExtraDetails.css" />
    <link rel="stylesheet" href="~/css/RegistrationPage.css" />
    <link rel="stylesheet" href="~/css/UploadCarImagesPage.css" />
    <link rel="stylesheet" href="~/css/LoginPage.css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <script src="~/js/site.js"></script>



    @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null || Context.User.Identity.IsAuthenticated)
    {
        // User is authenticated
        if(HttpContextAccessor.HttpContext.Session.GetString("UserType") == "PremiumUser")
        {
            // User is a Premium User
            @await Html.PartialAsync("_HeaderAfterSubscribing")
        }
        else
        {
            // User is not a Premium User
            @await Html.PartialAsync("_HeaderAfterLogin")
        }
    }
    else
    {
        @if (HttpContextAccessor.HttpContext.Session.GetInt32("LandingPage") == 1)
        {
            <div style="display:none">
                @await Html.PartialAsync("_HeaderBeforeLogin")
            </div>
        }
        else
        {
            @await Html.PartialAsync("_HeaderBeforeLogin")
        }
        
    }

    <!-- Main Content -->
    <main role="main" class="container">
        @RenderBody()
    </main>

    <!-- Include Footer -->
    @await Html.PartialAsync("_Footer")

    <script src="~/js/site.js"></script>
</body>
</html>
